<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Test">
    <test verbose="2" preserve-order="true" name="C:/Users/shind/IdeaProjects/API_Automation">
        <classes>
            <class name="Demo.Demo">
            </class>
</classes>
</test>
</suite>